<h2>New Post</h2>

<%= form_for @post do |f| %>
  <%= f.label :title, "Title: " %><br />
  <%= f.text_field :title %><br />
  <%= f.label :body, "Body: " %><br />
  <%= f.text_area :body %><br />
  <%= f.submit %>
<% end %>