
<div>
	<p><%= @post[:title] %></p>
</div>
<div>
	<p><%= markdown(@post.body) %></p>
</div>


<h4> Comments </h4>
<hr />

<%= button_tag "New Comment" %>

<% if @comments %>
	<%= @post.comments.each do |comment| %>
		<!-- comment.author? need association? -->
		<div>
			<p><%= markdown(comment[:text]) %></p>
		</div>
	<% end %>
<% end %>
