
	<h1 class="post-title"><%= @post.title %></h1>
	<h5>By <%= @post.author.email %></h5>
	<p><%= markdown(@post.body) %></p>


<% if current_user.id == @post.author_id %>
	<%= link_to "Edit Post", edit_post_path(@post), class: 'button-link' %>
	<%= link_to "Delete Post", post_path(@post), class: 'button-link', method: :delete  %>
<% end %>


<hr />
<h4> Comments </h4>

<%= render template: "comments/new" %>

<% if @post.comments %>
	<% @post.comments.each do |comment| %>
			<p><%= markdown(comment.text) %></p>
			<h5>Posted by: <%= comment.author.email %></h5>
			<% if current_user.id == comment.author_id %>
				<%= link_to "Delete Comment", comment_path(comment), class: 'button-link', method: :delete  %>
			<% end %>
	<% end %>
<% end %>
