<!DOCTYPE html>
<html>
<head>
  <title>DevbootcatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Open+Sans:400italic,600italic,700italic,400,300,600,700|Fjalla+One' rel='stylesheet' type='text/css'>
<script <script src="http://cdn.jsdelivr.net/jquery.nested/1.01/jquery.nested.min.js" type="text/javascript"></script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <!-- Flash messages for devise: -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<script>
    $(document).ready(function() {
    $("body.signed_out").aurora({
        tags          : "kitty, cat, computer",
        showCredits   : false,
        complete      : null
    });
});
</script>

</head>
<body class= <% if user_signed_in? %> "signed_in" <% else %> "signed_out" <% end %> >

  <% if user_signed_in? %>
    <%= render partial: 'partials/banner' %>
    <%= render partial: 'partials/nav' %>
  <% end %>
  <div id="content">
    <% unless user_signed_in? %>
    <div class="text-wrapper">
    <div class="img-wrapper">
      <img src="http://goo.gl/ylxIWu" title="dev bootcat" />
    </div>
      <h1 class="home_heading">Dev BootCat</h1>
    </div>
    <% end %>
    <div class="article">
    <%= yield %>
    </div>
  </div>
</body>
</html>
