<!DOCTYPE html>
<html>
<head>
  <title>DevbootcatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Flash messages for devise: -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</head>
<body>
   <% if user_signed_in? %>
    <%= render partial: 'partials/banner' %>
  <% end %>
  <%= render partial: 'partials/nav' %>
  <div id="content">
    <div class="article">
    <%= yield %>
    </div>
  </div>
</body>
</html>
